
tree {
    margin: 0;
    padding: 0;
}

treechildren::-moz-tree-image {
    margin-right: 2px;
}

treechildren::-moz-tree-cell-text(count) {
    color: #777;
}

treecol#count {
    text-align: right;
}

/* vim: se sts=4 sw=4 et :miv */
